
 <div class="container" back>
    <div class="row">
		<div class="col-md-10 col-sm-10">
			<div class="about-title clearfix">
				<h1> <span>Pazaryeri</span> hakkında...</h1>
				<h3>Ücretsiz Yardımlaşma Platformu.. </h3>
				<br />
				<p class="about-paddingB">
								
					Hepimizin elinde zaman zamn kullanmayacağımızı düşündüğümüz , fakat atmaya kıyamadığımız eşyalar vardır, 
					Hatta bazen yer bulamadığımız için birinin eline geçsin, ihtiyaç sahibi alsın diye çöpün kenarına bırakıverdiğimiz eşyalarda olabiliyor. 
					İhtiyaç fazlası eşyalarımızı, gerçekten ihtiyacı olan birine ulaştırmak için artık Pazaryeri uygulamasını kullanabiliriz..
						</p>
					<p> Bu uygulama ile hem fazla eşyalarımızdan kurtuluyoruz hemde ihtiyacımız olan eşyaları ücretsiz olarak sahiplenebiliyoruz. </p>
		        </div>
		</div>
    </div>
	<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-6"> <img src="~/images/aboutback.png" class="text-center" alt="Forest"  width="400" height="300"></div>
	</div>
 </div>


