

             <div class="row">
               <div class="col-md-4 ">
                  <div class="card ">
                    <div class="card-header bg-info">
                     <a  style="color:black;" asp-controller="Product" asp-action="ProductList" asp-route-id="1"> <h5 class="mb-0 text-center">Elektronik(5)</h5></a>
                    </div>
                    <div class="card-body">
                       <img class="d-block img-fluid mx-auto" src="~/images/elektronik.png" style="" width="80px" height="80px"> 
                    </div>
                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                      <a   style="color:black;"  asp-controller="Product" asp-action="ProductList" asp-route-id="2"><h5 class="mb-0 text-center">Mutfak Malzemeleri(12)</h5></a>
                    </div>
                    <div class="card-body">
                       <img class="d-block img-fluid mx-auto" src="~/images/mutfak.png" style="" width="80px" height="80px">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                     <a href="#"  style="color:black;"> <h5 class="mb-0 text-center">Bebek Mobilyası(5)</h5></a>
                    </div>
                    <div class="card-body">
                       <img class="d-block img-fluid mx-auto" src="~/images/bebek.png" style="" width="80px" height="80px">
                    </div>
                  </div>
                </div>
                </div>
               <div class="row my-4">
                 <div class="col-md-4 ">
                  <div class="card ">
                    <div class="card-header bg-info">
                      <a href="#"  style="color:black;"><h5 class="mb-0 text-center">Çocuk Kıyafetleri(20)</h5></a>
                    </div>
                    <div class="card-body">
                      <img class="d-block img-fluid mx-auto" src="~/images/kıyafet.png" style="" width="80px" height="80px">
                    </div>
                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                      <a href="#"  style="color:black;"><h5 class="mb-0 text-center">Oyuncaklar(25)</h5></a>
                    </div>
                    <div class="card-body">
                      <img class="d-block img-fluid mx-auto" src="~/images/oyuncak.png" style="" width="80px" height="80px">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                      <a href="#"  style="color:black;"><h5 class="mb-0 text-center">Kitap(67)</h5></a>
                    </div>
                    <div class="card-body">
                       <img class="d-block img-fluid mx-auto" src="~/images/kitap.png" style="" width="80px" height="80px">
                    </div>

                  </div>
                </div>
                </div>
               <div class="row my-4">
                 <div class="col-md-4 ">
                  <div class="card ">
                    <div class="card-header bg-info">
                     <a href="#"  style="color:black;"> <h5 class="mb-0 text-center">Ev Tekstil(56)</h5></a>
                    </div>
                    <div class="card-body">
                      <img class="d-block img-fluid mx-auto" src="~/images/tekstil.png" style="" width="80px" height="80px">
                    </div>

                  </div>
                </div>
                  <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                      <a href="#"  style="color:black;"><h5 class="mb-0 text-center">Ayakkabı -Çanta(12)</h5></a>
                    </div>
                    <div class="card-body">
                      <img class="d-block img-fluid mx-auto" src="~/images/ayakkabi.png" style="" width="80px" height="80px">
                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card ">
                    <div class="card-header bg-info">
                     <a href="#"  style="color:black;"> <h5 class="mb-0 text-center">Mobilya(3)</h5></a>
                    </div>
                    <div class="card-body">
                      <img class="d-block img-fluid mx-auto" src="~/images/evmobilya.png" style="" width="80px" height="80px">
                    </div>
                    
                  </div>
                </div>
                </div>