@model List<Product>

 <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span  style="color: #31708f"><b> ÜRÜN LİSTESİ </b></span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" style='font-family:Arial; font-size:90%' id="dataTables-example">
                            <thead>
                                <tr>
                                    <th class="col-md-1">ID No</th>
                                    <th>Ürün Sahibi</th>
                                    <th>Ürün Adı</th>
                                    <th>Eklenme Tarihi</th>
                                    <th>Ürün Durumu</th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeA">
                                    <td>1 </td>
                                    <td><a href="#"> Betül Koca</a></td>
                                    <td>Çanta</td>
                                    <td>02.02.2022</td>
                                    <td>Rezerve</td>
                                    <td>
                                      <a  class="btn btn-primary" asp-controller="Product" asp-area="Management" asp-action="Product"><i class="fa fa-eye" aria-hidden="true"></i> </a>
                                     <a  class="btn btn-info" asp-controller="Product" asp-area="Management" asp-action="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                                     <a  class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                     </td>
                                </tr>
  
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

              
</div>
<!-- /.container-fluid -->