<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Agora YP</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/metisMenu.min.css" rel="stylesheet">
        <link href="~/css/timeline.css" rel="stylesheet">
        <link href="~/css/startmin.css" rel="stylesheet">
         <link href="~/css/tree.css" rel="stylesheet">
        <link href="~/css/morris.css" rel="stylesheet">
         <link href="~/css/datepicker.css" rel="stylesheet">
        <!--  <link href="~/css/crouser.css" rel="stylesheet">-->
        <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 </head>
<body>

     <div id="wrapper">
      <nav class="navbar navbar-light" style="background-color: #31708f;" navbar-fixed-top  role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" asp-controller="Home" asp-area="Management" asp-action="index">Admin Panel</a>
                </div>


                <ul class="nav navbar-right  navbar-top-links" >

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Yönetici <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a asp-controller="User" asp-area="Management" asp-action="Profile" ><i class="fa fa-user fa-fw"></i> Profil</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a asp-controller="User"  asp-action="LogAuth"><i class="fa fa-sign-out fa-fw"></i> Çıkış</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">

                            <li>
                                <span></span>
                            </li>

                     

                            <li>
                                <a href="#"><i class="fa fa-users fa-fw"></i> Kullanıcılar <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a asp-controller="User" asp-area="Management" asp-action="UserList">Kullanıcı Listesi</a>
                                    </li>
                                    <li>
                                        <a asp-controller="User" asp-area="Management" asp-action="NewUser">Yeni Kullanıcı</a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-user-secret"></i>  Adminler <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a asp-controller="User" asp-area="Management" asp-action="AdminList">Admin Listesi</a>
                                    </li>
                                    <li>
                                        <a asp-controller="User" asp-area="Management" asp-action="NewAdmin">Yeni Admin</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-th-list"></i>   Kategoriler <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a asp-controller="Category" asp-area="Management" asp-action="CategoryList">Kategori Listesi</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-truck"></i> Transfer İşlemleri <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a asp-controller="Transfer" asp-area="Management" asp-action="TransferList" >Transfer Listesi</a>
                                    </li>
                                     <li>
                                        <a asp-controller="Transfer" asp-area="Management" asp-action="TransferListCargo">Kargo Transferleri</a>
                                    </li>
                                     <li>
                                        <a asp-controller="Transfer" asp-area="Management" asp-action="TransferListHand">Elden Teslim Transferler</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Transfer" asp-area="Management" asp-action="Transfer">Transfer Bilgisi</a>
                                    </li>
                                   </ul>
                            </li>
                              <li>
                                <a href="#"><i class="fa fa-cubes "></i> Ürünler <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a  asp-controller="Product" asp-area="Management" asp-action="ProductList" >Ürün listesi</a>
                                    </li>
                                    <li>
                                        <a  asp-controller="Product" asp-area="Management" asp-action="Create" >Yeni Ürün Ekle</a>
                                    </li>
                                    
                                </ul>
                            </li>
                             <li>
                                <a href="#"><i class="fa fa-quote-right "></i> Yorumlar <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a  asp-controller="Comment" asp-area="Management" asp-action="LastComments">Son Yorumlar</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a asp-controller="User" asp-area="Management" asp-action="Profile"><i class="fa fa-user fa-fw"></i> Profil </a>
                            </li>

                            <li>
                                <a asp-controller="User"  asp-action="LogAuth"><i class="fa fa-unlock-alt fa-fw"></i> Çıkış </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>



              <div id="page-wrapper">
               
    
                      @RenderBody()
              </div>
                <!-- /#page-wrapper -->

            </div>

        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/metisMenu.min.js"></script>
        <script src="~/js/startmin.js"></script>
         <script src="~/js/dataTables/jquery.dataTables.min.js"></script>
        <script src="~/js/dataTables/dataTables.bootstrap.min.js"></script>
        <script src="~/js/startmin.js"></script>
        <script>
            $(document).ready(function() {
                $('#dataTables-example').DataTable({
                    responsive: true
                });
            });
        </script>
</body>
</html>