

<link rel="stylesheet" href="~/css/listcss.css" type="text/css">

<div class="container">
  <div class="card" >
  <div class="card-header">
    <b> EKLEDİĞİM SAHİPSİZ ÜRÜNLER </b>
  </div>
  <div class="card-body mb-4" style="background-color: #f4f7f6;">
    <div class="row clearfix ">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                    <div class="cp_img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Product" class="img-fluid" >
                    </div>
                   <div class="product_details">
                        <h5><a asp-controller="Product" asp-action="ViewProduct">Ayakkabı</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price"><small>04-07-2018</small></li>
                            <li class="new_price"><small><i class="fa fa-comments" aria-hidden="true"></i> 45</small></li>
                            <li ><small>Durum: Yayında</small></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="card product_item">
                    <div class="cp_img">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Product" class="img-fluid">
                    </div>
                    <div class="product_details">
                        <h5><a href="ec-product-detail.html">Siyah Ayakkabı</a></h5>
                        <ul class="product_price list-unstyled">
                            <li class="old_price"><small>04-07-2018</small></li>
                            <li class="new_price"><small><i class="fa fa-comments" aria-hidden="true"></i> 45</small></li>
                            <li ><small>Durum: Transfer</small></li>
                        </ul>
                    </div>
                </div>
        </div>



        </div>
    </div>
      </div>
    </div>