<h2>List Group With Custom Content</h2>
  <div class="list-group">
    <div class="list-group-item">
    <div class="row">
        <div class="col-md-1"> <img  src="https://res.cloudinary.com/dxwhd9s8o/image/upload/v1658146924/zbplrca0xubo9hmchktl.jpg" style="" width="60px" height="60px"></div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading"><a href="#">Ahşap Masa</a> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting-o" aria-hidden="true"></i> 34</h4> 
          <p class="list-group-item-text">iyi durumda elden teslim edilebilir</p>
          <p class="list-group-item-text">  </p>
          <small>  Eklenme Tarihi:04-07-2022</small>
        </div>
      </div>
    </div>
    <hr />
    <div class="list-group-item">
    <div class="row">
        <div class="col-md-1"> <img  src="https://res.cloudinary.com/dxwhd9s8o/image/upload/v1658146924/zbplrca0xubo9hmchktl.jpg" style="" width="60px" height="60px"></div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading"><a href="#">Ahşap Masa</a> &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting-o" aria-hidden="true"></i> 34</h4> 
          <p class="list-group-item-text">iyi durumda elden teslim edilebilir</p>
          <p class="list-group-item-text">  </p>
          <small>  Eklenme Tarihi:04-07-2022</small>
        </div>
      </div>
    </div>
       <hr />
    <div class="list-group-item">
    <div class="row">
        <div class="col-md-1"> <img  src="https://res.cloudinary.com/dxwhd9s8o/image/upload/v1658146924/zbplrca0xubo9hmchktl.jpg" style="" width="60px" height="60px"></div>
        <div class="col-md-8">
          <h4 class="list-group-item-heading"><a href="#">Ahşap Masa</a>  &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-commenting-o" aria-hidden="true"></i> 34</h4> 
          <p class="list-group-item-text">iyi durumda elden teslim edilebilir</p>
          <p class="list-group-item-text">  </p>
          <small>  Eklenme Tarihi:04-07-2022</small>
        </div>
      </div>
    </div>


    
    
  </div>








